* {
	font-family: 'Roboto';
}
.brand-logo {
	margin-left: 15px;
}
.subreddit-input {
	position: relative;
	left: 110px;
}
.nav-wrapper {
	background-color: #444;
}
.post-list-holder {
	/*width: auto;*/
	max-height: 550px;
	overflow: scroll;
}
.post-list {
	position: relative;
	left: 5px;
	margin-right: 7px;
	/*width: 40%;*/
}
.post-score {
	float: left;
	margin-right: 20px;
}
.post-title {
}
.post-thumbnail {
	float: right;
	margin-bottom: 30px;
}
.post-details-holder {
	/*width: auto;*/
	max-height: 550px;
	overflow: scroll;
}
.post-details {
	float: left;
	/*width: 57%;*/
}
.post-comments {

}
.comment-author {
	font-weight: bold;
}
.materialboxed {
	overflow: scroll !important;
}